<!-- ------------------------------------------------------------------- -->
                    <%- include('partials/header')%>
<!-- ------------------------------------------------------------------- --> 

                <!-- Main content of the app home page -->

    <h1>Hello World, This is the home Page</h1>
    <p><%= homeStartingContent %></p>
    <% allPost.map( post => { %>
        <h2><%= post.title %></h2>
        <p><%= post.content.substring(0,100) +"....."%>
        <a href="/posts/<%= post.title %>">Read More</a> 
    </p>
    <%} ) %>

<!-- ------------------------------------------------------------------- -->
                    <%- include('partials/footer.ejs') %>
<!-- ------------------------------------------------------------------- -->

